@charset "UTF-8";
body {
  font-family: "MontserratLight", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section {
  padding: 50px 0; }
  section h2 {
    font-size: 24px;
    margin: 0 0 15px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.main_head {
  min-height: 480px;
  position: relative; }

header {
  background-image: url(../img/helimain.png);
  background-position: center center; }

.header {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  display: table;
  z-index: 100; }
  .header .header_caption {
    display: table-cell;
    vertical-align: middle; }
    .header .header_caption ul,
    .header .header_caption li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .header .header_caption ul li,
      .header .header_caption li li {
        display: inline-block; }
        .header .header_caption ul li p,
        .header .header_caption li li p {
          font-size: 14px;
          color: #B3B3B3;
          margin-left: 36px; }
          .header .header_caption ul li p span,
          .header .header_caption li li p span {
            color: #37373F;
            margin-left: 5px; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .top_wrapper .top_descr .top_centered .top_text {
        display: inline-block;
        text-align: left; }
        .top_wrapper .top_descr .top_centered .top_text p {
          font-family: "MontserratBold", sans-serif;
          font-size: 40px;
          line-height: 49px;
          width: 900px;
          color: #FFFFFF; }
          .top_wrapper .top_descr .top_centered .top_text p span {
            color: #FC9B09; }
        .top_wrapper .top_descr .top_centered .top_text .flag {
          background-image: url(../img/Rectangle.png);
          background-repeat: no-repeat; }
          .top_wrapper .top_descr .top_centered .top_text .flag ul {
            display: block;
            width: 232px; }
          .top_wrapper .top_descr .top_centered .top_text .flag ul,
          .top_wrapper .top_descr .top_centered .top_text .flag li {
            margin: 0;
            padding: 0 15px;
            list-style-type: none;
            font-size: 20px;
            color: #FFFFFF; }
            .top_wrapper .top_descr .top_centered .top_text .flag ul li:nth-child(2),
            .top_wrapper .top_descr .top_centered .top_text .flag li li:nth-child(2) {
              font-size: 35px;
              font-family: "MontserratBold", sans-serif;
              float: left; }
            .top_wrapper .top_descr .top_centered .top_text .flag ul li:nth-child(3),
            .top_wrapper .top_descr .top_centered .top_text .flag li li:nth-child(3) {
              width: 60px;
              font-weight: 800;
              font-size: 35px;
              float: right;
              text-align: center;
              margin-top: -20px;
              margin-bottom: 40px;
              color: #FFF;
              border: 1px solid #FFF;
              border-radius: 50%; }
          .top_wrapper .top_descr .top_centered .top_text .flag button {
            border: 3px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
            border-radius: 3px;
            background-color: transparent;
            padding: 15px;
            margin-top: 15px;
            font-family: "MontserratBlack", sans-serif;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 1px;
            text-align: center;
            color: #FFFFFF;
            transition: all 2s; }
            .top_wrapper .top_descr .top_centered .top_text .flag button:hover {
              background-color: #FFF;
              color: #FC9B09;
              border: 3px solid #FC9B09; }

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all; }

.modal {
  opacity: 0;
  visibility: hidden;
  width: 95%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 20px 70px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all; }
  .modal h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #37373F; }
  .modal .main_form button {
    border: none;
    color: #fff;
    background-color: #FC9B09;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    float: right; }
  .modal .form-group {
    display: block;
    margin-bottom: 10px; }
    .modal .form-group .color_element {
      font-weight: 700;
      font-size: 18px; }
    .modal .form-group .text-danger {
      font-size: 11px;
      margin-top: 5px;
      display: block; }
      .modal .form-group .text-danger ul,
      .modal .form-group .text-danger li {
        margin: 0;
        padding: 0;
        list-style-type: none; }
    .modal .form-group input,
    .modal .form-group textarea {
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      margin-top: 5px;
      line-height: 30px;
      text-indent: 12px;
      font-size: 12px;
      background-color: transparent; }

/* ╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨░╨║╤В╨╕╨▓╨╜╤Л╤Е ╨║╨╗╨░╤Б╤Б╨╛╨▓ ╨┐╨╛╨┤╨╗╨╛╨╢╨║╨╕ ╨╕ ╨╛╨║╨╜╨░ */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible; }

/* ╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨║╨╜╨╛╨┐╨║╨╕ ╨╖╨░╨║╤А╤Л╤В╨╕╤П */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer; }

.main_form button {
  border: none;
  color: #fff;
  background-color: #FC9B09;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  float: right; }

.form-group {
  display: block;
  margin-bottom: 10px; }
  .form-group .color_element {
    font-weight: 700;
    font-size: 18px; }
  .form-group .text-danger {
    font-size: 11px;
    margin-top: 5px;
    display: block; }
    .form-group .text-danger ul,
    .form-group .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 30px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; }

.s_about .about {
  font-size: 18px;
  line-height: 26px;
  color: #37373F; }
  .s_about .about .term {
    font-size: 14px;
    line-height: 40px; }
    .s_about .about .term li {
      padding-left: 50px;
      list-style-type: none; }
      .s_about .about .term li:nth-child(1) {
        background: url(../img/icon_1.png) no-repeat; }
      .s_about .about .term li:nth-child(2) {
        background: url(../img/icon_2.png) no-repeat; }
      .s_about .about .term li:nth-child(3) {
        background: url(../img/icon_3.png) no-repeat; }
      .s_about .about .term li:nth-child(4) {
        background: url(../img/icon_4.png) no-repeat; }
  .s_about .about .comments {
    font-size: 18px;
    line-height: 15px; }
    .s_about .about .comments li {
      display: inline-block;
      background-image: none;
      padding-right: 20px; }
.s_about .about_img img {
  width: 100%; }

.s_portfolio {
  font-size: 16px; }
  .s_portfolio img {
    margin: 0;
    padding: 0;
    width: 100%; }
  .s_portfolio .photo {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    width: 290px; }
    .s_portfolio .photo img:nth-child(1) {
      width: 31px;
      float: right;
      margin-top: 65px; }
    .s_portfolio .photo img:nth-child(2) {
      width: 136px;
      display: inline-block;
      margin-top: 70px; }

.view_more {
  text-align: center;
  font-family: "MontserratMedium", sans-serif;
  font-size: 17px;
  line-height: 70px;
  margin-top: 45px; }

table,
tr {
  border: 1px solid #C7C7C7;
  text-align: left;
  vertical-align: middle; }
  table:nth-child(3),
  tr:nth-child(3) {
    border: 1px solid #FFF;
    border-left: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7; }
  table th,
  tr th {
    padding: 0 50px 0 30px;
    vertical-align: middle; }
  table button,
  tr button {
    background: #FFFFFF;
    border: 2px solid #FC9B09;
    border-radius: 3px;
    padding: 8px 28px;
    font-family: "MontserratMedium", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FC9B09;
    float: right;
    transition: all 0.7s; }
    table button:hover,
    tr button:hover {
      background: #FC9B09;
      border: 2px solid #FC9B09;
      color: #FFF; }
  table p:nth-child(2),
  tr p:nth-child(2) {
    font-family: "MontserratSemiBold", sans-serif; }
  table i,
  tr i {
    margin: 0 10px;
    border: 0.5px solid #C4C4C4;
    padding: 8px; }
  table .comments,
  tr .comments {
    margin-top: 30px; }

.s_card iframe {
  width: 100%; }

.cart {
  position: relative; }

.cont {
  position: absolute;
  z-index: 1000;
  background-color: #FFF;
  border: 1px solid #C7C7C7;
  padding: 30px 35px 20px;
  top: 8%;
  left: 8%;
  font-size: 18px;
  font-family: "MontserratMedium", sans-serif; }
  .cont div:nth-child(2) {
    font-family: "MontserratRegular", sans-serif; }
  .cont div:nth-child(3) {
    font-size: 14px;
    cursor: pointer; }
  .cont ul,
  .cont li {
    margin: 0;
    padding: 0; }
    .cont ul li,
    .cont li li {
      list-style-type: none;
      padding-left: 75px;
      padding-bottom: 30px; }
      .cont ul li:nth-child(1),
      .cont li li:nth-child(1) {
        background: url(../img/1.png) no-repeat; }
      .cont ul li:nth-child(2),
      .cont li li:nth-child(2) {
        background: url(../img/2.png) no-repeat; }
      .cont ul li:nth-child(3),
      .cont li li:nth-child(3) {
        background: url(../img/3.png) no-repeat; }
      .cont ul li:nth-child(4),
      .cont li li:nth-child(4) {
        background: url(../img/4.png) no-repeat; }

.feedback p {
  font-size: 14px;
  line-height: 21px;
  color: #37373F; }
.feedback i {
  margin: 0 2px 0 30px;
  color: #008000;
  font-size: 18px; }
.feedback span {
  color: #B3B3B3; }
.feedback .text {
  font-size: 16px;
  line-height: 24px; }
.feedback .date {
  font-size: 14px;
  line-height: 21px;
  color: #B3B3B3; }

.footer {
  margin: 0; }
  .footer .social_wrap {
    float: right;
    font-size: 18px; }
    .footer .social_wrap ul,
    .footer .social_wrap li {
      margin: 0;
      padding: 0; }
      .footer .social_wrap ul li,
      .footer .social_wrap li li {
        display: inline-block;
        margin-right: 15px; }
        .footer .social_wrap ul li:nth-child(1), .footer .social_wrap ul li:nth-child(2), .footer .social_wrap ul li:nth-child(3),
        .footer .social_wrap li li:nth-child(1),
        .footer .social_wrap li li:nth-child(2),
        .footer .social_wrap li li:nth-child(3) {
          font-size: 22px; }
        .footer .social_wrap ul li:nth-child(3) a,
        .footer .social_wrap li li:nth-child(3) a {
          color: #37373F; }
        .footer .social_wrap ul li:nth-child(4) a,
        .footer .social_wrap li li:nth-child(4) a {
          color: #37373F; }

.main_footer {
  text-align: center;
  color: #B3B3B3;
  margin: -50px 0; }
  .main_footer ul,
  .main_footer li {
    margin: 15px 0 0;
    padding: 0;
    float: left; }
    .main_footer ul li,
    .main_footer li li {
      display: inline-block;
      margin-left: 20px; }
  .main_footer .copy_right {
    text-align: center; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  padding: 10px; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block; }

.podrt_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px; }
  .podrt_descr p {
    margin-top: 0; }
  .podrt_descr img {
    width: 100%;
    margin-top: 10px; }

.modal-box-content {
  position: relative; }

.contact_box {
  margin-bottom: 30px; }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px; }
  .contact_box .contacts_icon {
    font-size: 30px; }
  .contact_box p {
    margin-top: 5px; }

/*# sourceMappingURL=main.css.map */
